* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
i {
    margin-right: 20px;
}
h1 {
    color: deepskyblue;
}
#task-form {
    margin-top: 25px;
}

#task-input {
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 20rem;
}

#add-task-btn {
    padding: 5px 7px;
    border-radius: 7px;
    background-color: deepskyblue;
    border: none;
    color: white;
}

#add-task-btn:hover {
    background-color: rgb(0, 137, 182);
    cursor: pointer;
}